*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font style */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header starts */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: lightblue;
    padding: 10px 0;
}

header h1 {
    background-color: blue;
    font-size: 35px;
    width: 27%;
    text-align: right;
    padding: 0 15px;
    border: 3px solid black;
}

header nav {
    float: right;
    margin: auto 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    border: 3px solid black;
}

header nav ul li a {
    padding: 10px 15px;
}
/* header ends */

/* footer starts */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    font-size: 35px;
    width: 25%;
    text-align: right;
    padding: 0 15px;
    border: 3px solid black;
    /* width: 25%; */
}

footer div {
    /* width: 75%; */
    margin: auto 0;
    border: 3px solid black;
}

footer div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

footer div ul li a {
    padding: 10px 15px;
}

footer div ul li a:hover {
    background: red;
    color: yellow;
}
/* footer ends */